@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Container styles */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1280px) {
  .container {
    max-width: 100%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  line-height: 1.5;
}

.marquee-content {
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
  will-change: transform;
}

/* Optional: Pause on hover */
.marquee-content:hover {
  animation-play-state: paused;
}
